In [1]:
import pandas as pd
import numpy as np
# Load normalized dataset from Azure Machine Learning
data = pd.read_csv('C:\\Users\\USER\\Documents\\INTER CAMPUS MACHINE LEARNING 2018\\NORMALISED\\trainnormalized.csv')

In [113]:
# data.info()

In [114]:
# data

In [115]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [116]:
# Display column headers
data.columns

Index(['Product_Identifier', 'Supermarket_Identifier',
       'Product_Supermarket_Identifier', 'Product_Weight',
       'Product_Fat_Content', 'Product_Shelf_Visibility', 'Product_Type',
       'Product_Price', 'Supermarket_Opening_Year', 'Supermarket _Size',
       'Supermarket_Location_Type', 'Supermarket_Type',
       'Product_Supermarket_Sales'],
      dtype='object')

In [117]:
features = []
for i in data.columns:
    features.append(i)
    
print(features)

['Product_Identifier', 'Supermarket_Identifier', 'Product_Supermarket_Identifier', 'Product_Weight', 'Product_Fat_Content', 'Product_Shelf_Visibility', 'Product_Type', 'Product_Price', 'Supermarket_Opening_Year', 'Supermarket _Size', 'Supermarket_Location_Type', 'Supermarket_Type', 'Product_Supermarket_Sales']

In [118]:
predictors = ['Product_Identifier', 'Supermarket_Identifier', 'Product_Fat_Content', 'Product_Shelf_Visibility', 'Product_Type', 'Product_Price', 'Supermarket_Opening_Year', 'Supermarket _Size', 'Supermarket_Location_Type', 'Supermarket_Type', 'Product_Supermarket_Sales']

In [119]:
X = data[predictors]
# Display the predictors
# X
# X.info()

In [120]:
# Identify categorical features
cat = ['Product_Identifier', 'Supermarket_Identifier', 'Product_Fat_Content', 'Product_Type', 'Supermarket _Size', 'Supermarket_Location_Type', 'Supermarket_Type']
Xcat = X[cat]
# Convert categorical features to numerical using LabelEncoder
Xcat = Xcat.apply(LabelEncoder().fit_transform)

In [121]:
# Identify numerical features
num = ['Product_Shelf_Visibility', 'Product_Price', 'Supermarket_Opening_Year', 'Product_Supermarket_Sales']
Xnum = X[num]
# Create new
Xtrain = pd.concat([Xcat,Xnum],axis=1)

In [122]:
#from sklearn.preprocessing import MinMaxScaler
#scaler = MinMaxScaler(feature_range=(0, 1), copy=True)
#scaler.fit(Xnew)
#Xtrain = pd.DataFrame(scaler.transform(Xnew), index=Xnew.index, columns=Xnew.columns)
# data1
#data2 = pd.DataFrame(scaler.inverse_transform(Xtrain), index=Xtrain.index, columns=Xtrain.columns)
#data2

In [123]:
#Xtrain.Product_Supermarket_Sales = Xtrain.Product_Supermarket_Sales.astype(int)
#Xtrain

In [124]:
#Xtrain['Product_Supermarket_Sales'] = np.log(Xtrain['Product_Supermarket_Sales'])

In [125]:
# Identnify varibale to be predicted
y = Xtrain['Product_Supermarket_Sales'].values
y

array([  709.08,  6381.69,  6381.69, ...,  5685.93, 11778.  , 17870.07])

In [126]:
np.size(y)

4990

In [127]:
#Xtrain
Xtrain = Xtrain.drop('Product_Supermarket_Sales', axis = 1).values
Xtrain

array([[0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        2.08699538e-01, 4.73771857e-01, 5.41666667e-01],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, ...,
        1.24582679e-01, 4.70798144e-01, 8.33333333e-02],
       [0.00000000e+00, 2.00000000e+00, 0.00000000e+00, ...,
        1.25391718e-01, 4.62301823e-01, 9.16666667e-01],
       ...,
       [1.45000000e+03, 7.00000000e+00, 0.00000000e+00, ...,
        2.54356725e-01, 5.56356098e-01, 7.08333333e-01],
       [1.45000000e+03, 8.00000000e+00, 0.00000000e+00, ...,
        2.53841927e-01, 5.54232018e-01, 5.00000000e-01],
       [1.45000000e+03, 9.00000000e+00, 0.00000000e+00, ...,
        2.54236581e-01, 5.51683121e-01, 5.83333333e-01]])

In [128]:
#correlation = Xtrain.corr(method='pearson')
#columns = correlation.nlargest(10, 'Product_Supermarket_Sales').index
#print(columns)

#import matplotlib.pyplot as plt
#import seaborn as sns
#correlation_map = np.corrcoef(Xnew[columns].values.T)
#sns.set(font_scale=1.0)
#heatmap = sns.heatmap(correlation_map, cbar=True, annot=True, square=True, fmt='.2f', yticklabels=columns.values, xticklabels=columns.values)

#plt.show()

In [129]:
test = pd.read_csv('C:\\Users\\USER\\Documents\\INTER CAMPUS MACHINE LEARNING 2018\\NORMALISED\\testnormalized.csv')
# test

In [130]:
# test.info()

In [131]:
# test.columns

In [132]:
testpredictors = ['Product_Identifier', 'Supermarket_Identifier', 'Product_Fat_Content', 'Product_Shelf_Visibility', 'Product_Type', 'Product_Price', 'Supermarket_Opening_Year', 'Supermarket _Size', 'Supermarket_Location_Type', 'Supermarket_Type']
X1 = test[testpredictors]
#X1.info()

In [133]:
# Convert categorical features to numerical features
testcat = ['Product_Identifier', 'Supermarket_Identifier', 'Product_Fat_Content', 'Product_Type', 'Supermarket _Size', 'Supermarket_Location_Type', 'Supermarket_Type']
Xtestcat = X1[testcat]
# Convert categorical features to numerical using LabelEncoder
Xtestcat = Xtestcat.apply(LabelEncoder().fit_transform)

# Identify numerical features
testnum = ['Product_Shelf_Visibility', 'Product_Price', 'Supermarket_Opening_Year']
Xtestnum = X1[testnum]
# Create new
Xtest = pd.concat([Xtestcat,Xtestnum],axis=1)

In [134]:
#from sklearn.preprocessing import MinMaxScaler
#scaler = MinMaxScaler(feature_range=(0, 1), copy=True)
#scaler.fit(Xtestnew)
#Xtest = pd.DataFrame(scaler.transform(Xtestnew), index=Xtestnew.index, columns=Xtestnew.columns)
# data3
# data4 = pd.DataFrame(scaler.inverse_transform(data1), index=data1.index, columns=data1.columns)
# Xtest

In [135]:
from sklearn.feature_selection import RFE
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler

In [136]:
# Use a train test split
# X_train, X_test, Y_train, Y_test = train_test_split (Xtrain, y, test_size = 0.20, random_state=42)

# Checking different models
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor

In [160]:
pipelines = []
pipelines.append(('ScaledLR', Pipeline([('Scaler', MinMaxScaler()),('LR',LinearRegression())])))
pipelines.append(('ScaledLASSO', Pipeline([('Scaler', MinMaxScaler()),('LASSO', Lasso())])))
pipelines.append(('ScaledEN', Pipeline([('Scaler', MinMaxScaler()),('EN', ElasticNet())])))
pipelines.append(('ScaledKNN', Pipeline([('Scaler', MinMaxScaler()),('KNN', KNeighborsRegressor())])))
pipelines.append(('ScaledCART', Pipeline([('Scaler', MinMaxScaler()),('CART', DecisionTreeRegressor())])))
pipelines.append(('ScaledGBM', Pipeline([('Scaler', MinMaxScaler()),('GBM', GradientBoostingRegressor())])))
pipelines.append(('ScaledRF', Pipeline([('Scaler', MinMaxScaler()),('RF', GradientBoostingRegressor())])))

results = []
names = []
for name, model in pipelines:
    kfold = KFold(n_splits=10, random_state=21)
    cv_results = cross_val_score(model, Xtrain, y, cv=kfold, scoring='neg_mean_squared_error')
    results.append(cv_results)
    names.append(name)
    msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
    print(msg)

ScaledLR: -10232309.550730 (877528.204719)
ScaledLASSO: -10230826.588522 (878681.006058)
ScaledEN: -17211239.560350 (1800872.152406)
ScaledKNN: -10481310.857344 (738198.821418)
ScaledCART: -18017119.637469 (1951090.936556)
ScaledGBM: -9118125.577686 (1148729.035249)
ScaledRF: -9131986.593618 (1176418.253428)

In [138]:
from sklearn.model_selection import GridSearchCV

scaler = MinMaxScaler().fit(Xtrain)
rescaledX = scaler.transform(Xtrain)
param_grid = dict(n_estimators=np.array([50,100,200,300,400,500,600]))
model = RandomForestRegressor(random_state=21)
kfold = KFold(n_splits=10, random_state=21)
grid = GridSearchCV(estimator=model, param_grid=param_grid, scoring='neg_mean_squared_error')
grid_result = grid.fit(Xtrain, y)

means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))

-9639199.722212 (555082.544516) with: {'n_estimators': 50}
-9535034.161469 (499118.364911) with: {'n_estimators': 100}
-9466480.987635 (556445.552238) with: {'n_estimators': 200}
-9438680.323806 (541860.293492) with: {'n_estimators': 300}
-9426234.804753 (539915.622975) with: {'n_estimators': 400}
-9413530.025921 (537757.677927) with: {'n_estimators': 500}
-9411171.984757 (551183.390372) with: {'n_estimators': 600}
Best: -9411171.984757 using {'n_estimators': 600}

In [191]:
rescaledXtrain

array([[0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        2.08699538e-01, 4.73771857e-01, 5.41666667e-01],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, ...,
        1.24582679e-01, 4.70798144e-01, 8.33333333e-02],
       [0.00000000e+00, 2.00000000e+00, 0.00000000e+00, ...,
        1.25391718e-01, 4.62301823e-01, 9.16666667e-01],
       ...,
       [1.45000000e+03, 7.00000000e+00, 0.00000000e+00, ...,
        2.54356725e-01, 5.56356098e-01, 7.08333333e-01],
       [1.45000000e+03, 8.00000000e+00, 0.00000000e+00, ...,
        2.53841927e-01, 5.54232018e-01, 5.00000000e-01],
       [1.45000000e+03, 9.00000000e+00, 0.00000000e+00, ...,
        2.54236581e-01, 5.51683121e-01, 5.83333333e-01]])

In [84]:
from sklearn.model_selection import GridSearchCV

scaler = MinMaxScaler().fit(Xtrain)
rescaledX = scaler.transform(Xtrain)
param_grid = dict(n_estimators=np.array([50,100,200,300,400,500,600]))
model = GradientBoostingRegressor(random_state=21)
kfold = KFold(n_splits=10, random_state=21)
grid = GridSearchCV(estimator=model, param_grid=param_grid, scoring='neg_mean_squared_error')
grid_result = grid.fit(Xtrain, y)

means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))

-0.000901 (0.000057) with: {'n_estimators': 50}
-0.000961 (0.000097) with: {'n_estimators': 100}
-0.001037 (0.000102) with: {'n_estimators': 200}
-0.001085 (0.000106) with: {'n_estimators': 300}
-0.001129 (0.000132) with: {'n_estimators': 400}
-0.001165 (0.000137) with: {'n_estimators': 500}
-0.001206 (0.000159) with: {'n_estimators': 600}
Best: -0.000901 using {'n_estimators': 50}

In [218]:
compare = pd.DataFrame({'Prediction': predictions, 'Actual Data' : y})
compare.head()

    Prediction  Actual Data
0  2147.895733       709.08
1  4789.258299      6381.69
2  4682.380545      6381.69
3  7605.977016      2127.23
4  6084.207886      2481.77

In [215]:
from sklearn.linear_model import LinearRegression 
lm = LinearRegression()
lm.fit(rescaled_Xtrain,y)
predictions = lm.predict(rescaled_Xtrain)
from sklearn import metrics
print(np.sqrt(metrics.mean_squared_error(y, predictions)))

3192.175679099684

In [ ]:
compare = pd.DataFrame({'Prediction': predictions, 'Actual Data' : y})
compare.head(10)

In [203]:
rescaled_Xtrain
rescaledXy = pd.DataFrame(rescaled_Xtrain)
dataExport = rescaledXy
dataExport.to_csv('C:\\Users\\USER\\Documents\\INTER CAMPUS MACHINE LEARNING 2018\\NORMALISED\\trainmatlab1.csv', index=False)

In [190]:
compare = pd.DataFrame({'Prediction': predictions, 'Actual Data' : y})
compare.head(10)

    Prediction  Actual Data
0  6102.243315       709.08
1  6102.300041      6381.69
2  6102.300041      6381.69
3  6102.257497      2127.23
4  6102.261042      2481.77
5  6102.331949      9572.54
6  6102.244414       818.93
7  6102.346779     11055.61
8  6102.264887      2866.27
9  6102.248508      1228.40

In [216]:
actual_y = y
predicted = predictions
diff = abs(actual_y - predicted)

compare_actual = pd.DataFrame({'Actual Data': actual_y, 'Predicted Price' : predicted, 'Difference' : diff})
compare_actual = compare_actual.astype(int)
compare_actual.head(5)

   Actual Data  Predicted Price  Difference
0          709             2147        1438
1         6381             4789        1592
2         6381             4682        1699
3         2127             7605        5478
4         2481             6084        3602

In [ ]:
 predictions = gp.predict(rescaled_Xtest)

In [239]:
from sklearn.metrics import mean_squared_error

scaler = MinMaxScaler().fit(Xtrain)
rescaled_Xtrain = scaler.transform(Xtrain)
model = RandomForestRegressor(max_depth = None, n_estimators=1000, random_state=42)
model.fit(rescaled_Xtrain, y)

predictions = model.predict(rescaled_Xtrain)
print (np.sqrt(mean_squared_error(y, predictions)))

# transform the validation dataset
#rescaled_Xtest = scaler.transform(Xtest)
#predictions = model.predict(rescaled_Xtest)

1127.9765049929501

In [236]:
compare = pd.DataFrame({'Prediction': predictions, 'Actual Data' : y})
compare.head(10)

    Prediction  Actual Data
0   671.045560       709.08
1  6454.729605      6381.69
2  5894.991245      6381.69
3  2979.149520      2127.23
4  4333.974050      2481.77
5  7731.235295      9572.54
6   934.533630       818.93
7  9588.391085     11055.61
8  4130.123335      2866.27
9  1193.772735      1228.40

In [237]:
actual_y = y
predicted = predictions
diff = abs(actual_y - predicted)

compare_actual = pd.DataFrame({'Actual Data': actual_y, 'Predicted Price' : predicted, 'Difference' : diff})
compare_actual = compare_actual.astype(int)
compare_actual.head(5)

   Actual Data  Predicted Price  Difference
0          709              671          38
1         6381             6454          73
2         6381             5894         486
3         2127             2979         851
4         2481             4333        1852

In [268]:
from sklearn.metrics import mean_squared_error

scaler = MinMaxScaler().fit(Xtrain)
rescaled_Xtrain = scaler.transform(Xtrain)
kneighbors(X=None, n_neighbors=None, return_distance = True)
model = KNeighborsRegressor(n_neighbors = 2, weights = 'uniform', algorithm = 'auto', leaf_size = 30)
model.fit(rescaled_Xtrain, y)

predictions = model.predict(rescaled_Xtrain)
print (np.sqrt(mean_squared_error(y, predictions)))

# transform the validation dataset
#rescaled_Xtest = scaler.transform(Xtest)
#predictions = model.predict(rescaled_Xtest)

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-268-25f85acb8b99>, line 14)

In [267]:
scaler = MinMaxScaler().fit(Xtest)
rescaled_Xtest = scaler.transform(Xtest)
predictions = model.predict(rescaled_Xtest)
print(predictions)
predictions1 = pd.DataFrame(predictions)
predictions1

[1280.    4349.34  7736.595 ... 8156.05  1097.74  5595.22 ]

              0
0      1280.000
1      4349.340
2      7736.595
3       764.005
4      9427.730
5      7085.775
6      8002.085
7      6083.745
8      3966.505
9     12169.160
10     6031.315
11     3402.240
12     2983.615
13     3966.505
14     3673.550
15    12169.160
16     6031.315
17     3402.240
18     8199.330
19     8199.330
20     3342.315
21      708.245
22    13504.925
23     4086.350
24     3412.225
25      813.940
26     6345.075
27     4713.865
28     9427.730
29     3966.505
...         ...
3502   3628.610
3503   4317.715
3504   4519.115
3505   3437.195
3506   6275.165
3507   9316.205
3508    766.505
3509   4415.915
3510   7119.070
3511   7807.335
3512  10150.120
3513  13132.910
3514   4726.350
3515   5135.815
3516   9316.205
3517   6488.225
3518   4519.115
3519   5862.370
3520   6748.715
3521   8107.780
3522   6216.910
3523  12238.240
3524   7127.390
3525   4551.580
3526   6216.910
3527   1097.740
3528   5573.580
3529   8156.050
3530   1097.740
3531   5595.220

[3532 rows x 1 columns]

In [245]:
compare = pd.DataFrame({'Prediction': predictions, 'Actual Data' : y})
compare.head(10)

   Prediction  Actual Data
0      709.08       709.08
1     6381.69      6381.69
2     6381.69      6381.69
3     2127.23      2127.23
4     2481.77      2481.77
5     9572.54      9572.54
6      818.93       818.93
7    11055.61     11055.61
8     2866.27      2866.27
9     1228.40      1228.40

In [246]:
actual_y = y
predicted = predictions
diff = abs(actual_y - predicted)

compare_actual = pd.DataFrame({'Actual Data': actual_y, 'Predicted Price' : predicted, 'Difference' : diff})
compare_actual = compare_actual.astype(int)
compare_actual.head(5)

   Actual Data  Predicted Price  Difference
0          709              709           0
1         6381             6381           0
2         6381             6381           0
3         2127             2127           0
4         2481             2481           0

In [277]:
scaler = MinMaxScaler().fit(Xtrain)
rescaled_Xtrain = scaler.transform(Xtrain)
model = GradientBoostingRegressor(n_estimators=6000, random_state=42)
kfold = KFold(n_splits=10, random_state=42)
model.fit(rescaled_Xtrain,y)

predictions = model.predict(rescaled_Xtrain)
print (np.sqrt(mean_squared_error(y, predictions)))
#predic1 = pd.DataFrame(predictions1)
#predic1

703.424902390304

In [278]:
compare = pd.DataFrame({'Prediction': predictions, 'Actual Data' : y})
compare.head(10)

     Prediction  Actual Data
0    617.339662       709.08
1   6429.775026      6381.69
2   6285.771496      6381.69
3   2308.529376      2127.23
4   2623.252412      2481.77
5   9483.759242      9572.54
6    842.327454       818.93
7  10794.327724     11055.61
8   3222.815086      2866.27
9   1185.258144      1228.40

In [279]:
actual_y = y
predicted = predictions
diff = abs(actual_y - predicted)

compare_actual = pd.DataFrame({'Actual Data': actual_y, 'Predicted Price' : predicted, 'Difference' : diff})
compare_actual = compare_actual.astype(int)
compare_actual.head(5)

   Actual Data  Predicted Price  Difference
0          709              617          91
1         6381             6429          48
2         6381             6285          95
3         2127             2308         181
4         2481             2623         141

In [91]:
Xtrain

array([[0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        2.08699538e-01, 4.73771857e-01, 5.41666667e-01],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, ...,
        1.24582679e-01, 4.70798144e-01, 8.33333333e-02],
       [0.00000000e+00, 2.00000000e+00, 0.00000000e+00, ...,
        1.25391718e-01, 4.62301823e-01, 9.16666667e-01],
       ...,
       [1.45000000e+03, 7.00000000e+00, 0.00000000e+00, ...,
        2.54356725e-01, 5.56356098e-01, 7.08333333e-01],
       [1.45000000e+03, 8.00000000e+00, 0.00000000e+00, ...,
        2.53841927e-01, 5.54232018e-01, 5.00000000e-01],
       [1.45000000e+03, 9.00000000e+00, 0.00000000e+00, ...,
        2.54236581e-01, 5.51683121e-01, 5.83333333e-01]])

In [182]:
from sklearn.metrics import mean_squared_error

scaler = MinMaxScaler().fit(Xtrain)
rescaled_Xtrain = scaler.transform(Xtrain)
model = RandomForestRegressor(random_state=42, n_estimators=50)
kfold = KFold(n_splits=10, random_state=42)
model.fit(rescaled_Xtrain, y)

# transform the validation dataset
scaler = MinMaxScaler().fit(Xtest)
rescaled_Xtest = scaler.transform(Xtest)
predictions = model.predict(rescaled_Xtest)

In [207]:
rescaled_Xtest
rescaledXtest = pd.DataFrame(rescaled_Xtest)
rescaledXtest
dataExport = rescaledXtest
dataExport.to_csv('C:\\Users\\USER\\Documents\\INTER CAMPUS MACHINE LEARNING 2018\\NORMALISED\\testmatlab1.csv', index=False)

In [184]:
actualy = predictions
#actualy
predic = pd.DataFrame(actualy)
predic
dataExport = pd.concat([Xtest,predic],axis=1)
dataExport.to_csv('C:\\Users\\USER\\Documents\\INTER CAMPUS MACHINE LEARNING 2018\\NORMALISED\\Submission23.csv', index=False)

In [280]:
scaler = MinMaxScaler().fit(Xtrain)
rescaled_Xtrain = scaler.transform(Xtrain)
model = GradientBoostingRegressor(n_estimators=6000, random_state=42)
kfold = KFold(n_splits=10, random_state=42)
model.fit(rescaled_Xtrain,y)

# transform the validation dataset
scaler = MinMaxScaler().fit(Xtest)
rescaled_Xtest = scaler.transform(Xtest)
predictions = model.predict(rescaled_Xtest)

In [284]:
predictions = pd.DataFrame(predictions)
predictions

                 0
0       939.919598
1     10701.325217
2      9015.072344
3      -998.852495
4      7566.702440
5      4895.015418
6      7553.047482
7      5143.809824
8      4768.797597
9      6629.831483
10     1727.638210
11     3742.773777
12     4089.667311
13     3457.841525
14     2950.405462
15     7534.554406
16     3557.399915
17     3529.535576
18     6218.595543
19     5471.164284
20     4541.814679
21    -1388.710858
22    11798.738478
23     3653.985360
24     3062.940281
25     2092.825444
26    10141.524714
27     4145.741947
28     6357.975524
29     4728.613884
...            ...
3502   2351.781543
3503   1142.355672
3504   3013.342744
3505   3388.638384
3506   5299.717439
3507   6048.961109
3508   3124.028718
3509   4273.404385
3510   2963.712579
3511   4423.895920
3512   7491.962545
3513   9501.267947
3514    646.425033
3515    547.496315
3516   5572.427973
3517   2129.019506
3518   1818.763477
3519   8325.562490
3520   8837.559521
3521   8581.721333
3522   4101.606180
3523   4803.575472
3524   5225.271092
3525   5859.967320
3526   5016.466013
3527   2290.091081
3528   9460.677805
3529  11045.585413
3530   2621.183732
3531   5990.253868

[3532 rows x 1 columns]

In [180]:
actualy = predictions
#actualy
predic = pd.DataFrame(actualy)
predic
dataExport = pd.concat([Xtest,predic],axis=1)
dataExport.to_csv('C:\\Users\\USER\\Documents\\INTER CAMPUS MACHINE LEARNING 2018\\NORMALISED\\Submission26.csv', index=False)